[Unit]
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/usr/bin/node index.js
Restart=always
WorkingDirectory=/srv/a.v6.db.transport.rest
# We tag the logs with the `local7` facility so that the don't get persisted (again) by rsyslogd.
# see also lib/syslog-mute-local7-facility.conf
SyslogFacility=local7
Environment=NODE_ENV=production
Environment=HOSTNAME=a.v6.db.transport.rest
Environment=PORT=3011
Environment=REDIS_URL=redis:///7
Environment=TIMEZONE=Europe/Berlin
Environment=LOCALE=de-DE
# they seem to have disabled IPv6
#Environment=LOCAL_ADDRESS=2a01:4f8:c0c:d58c::1,2a01:4f8:c0c:d58c::2
Environment=HAFAS_REQ_RES_LOG_FILE=/var/log/recorded-hafas-data/a.v6.db.transport.rest.ndjson

[Install]
WantedBy=multi-user.target
