[Unit]
Description=monitor VBB endpoint
After=redis.service nats-streaming-server.service
Wants=bbnavi-gtfs-rt-feed.jannisr.de-match.service bbnavi-gtfs-rt-feed.jannisr.de-serve.service

[Service]
WorkingDirectory=/var/www/bbnavi-gtfs-rt-feed.jannisr.de
ExecStart=/var/www/bbnavi-gtfs-rt-feed.jannisr.de/node_modules/hafas-gtfs-rt-feed/monitor.js lib/hafas.js
Environment=NODE_ENV=production
Environment=FEED_ID=bbnavi
Environment=BBOX="{\"north\": 53.129, \"west\": 13.175, \"south\": 52.375, \"east\": 14.458}"
Environment=LOCAL_ADDRESS="2a01:4f8:1c17:eb58::1,2a01:4f8:1c17:eb58::2,2a01:4f8:1c17:eb58::3,2a01:4f8:1c17:eb58::4,2a01:4f8:1c17:eb58::5,2a01:4f8:1c17:eb58::6,2a01:4f8:1c17:eb58::7,2a01:4f8:1c17:eb58::8,2a01:4f8:1c17:eb58::9,2a01:4f8:1c17:eb58::a,2a01:4f8:1c17:eb58::b,2a01:4f8:1c17:eb58::c,2a01:4f8:1c17:eb58::d,2a01:4f8:1c17:eb58::e,2a01:4f8:1c17:eb58::f"
Environment=FETCH_TRIPS_INTERVAL=240000
Environment=METRICS_SERVER_PORT=19323

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
