v5.vbb.transport.rest {
	encode zstd gzip
	proxy / {
		rate_limit {remote.ip} 100r/m
		upstream http://localhost:3009

		policy round_robin
		fail_timeout 1m
		max_fails 2
		health_check /health
		health_check_interval 5m
		health_check_timeout 10s
		transparent
		websocket
	}
	log /var/log/caddy/v5.vbb.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}
a.v5.vbb.transport.rest {
	proxy / http://localhost:3009 {
		rate_limit {remote.ip} 100r/m
		transparent
		websocket
	}
	log /var/log/caddy/v5.vbb.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}

v5.db.transport.rest {
	encode zstd gzip
	proxy / {
		rate_limit {remote.ip} 100r/m
		upstream http://localhost:3008

		policy round_robin
		fail_timeout 1m
		max_fails 2
		health_check /health
		health_check_interval 5m
		health_check_timeout 10s
		transparent
		websocket
	}
	log /var/log/caddy/v5.db.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}
a.v5.db.transport.rest {
	proxy / http://localhost:3008 {
		rate_limit {remote.ip} 100r/m
		transparent
		websocket
	}
	log /var/log/caddy/v5.db.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}

v5.bvg.transport.rest {
	encode zstd gzip
	proxy / {
		rate_limit {remote.ip} 100r/m
		upstream http://localhost:3007

		policy round_robin
		fail_timeout 1m
		max_fails 2
		health_check /health
		health_check_interval 5m
		health_check_timeout 10s
		transparent
		websocket
	}
	log /var/log/caddy/v5.bvg.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}
a.v5.bvg.transport.rest {
	proxy / http://localhost:3007 {
		rate_limit {remote.ip} 100r/m
		transparent
		websocket
	}
	log /var/log/caddy/v5.bvg.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}

v5.hvv.transport.rest {
	encode zstd gzip
	proxy / {
		rate_limit {remote.ip} 100r/m
		upstream http://localhost:3006

		policy round_robin
		fail_timeout 1m
		max_fails 2
		health_check /health
		health_check_interval 5m
		health_check_timeout 10s
		transparent
		websocket
	}
	log /var/log/caddy/v5.hvv.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}
a.v5.hvv.transport.rest {
	proxy / http://localhost:3006 {
		rate_limit {remote.ip} 100r/m
		transparent
		websocket
	}
	log /var/log/caddy/v5.hvv.transport.rest.log {
		rotate_age 365
		rotate_keep 100
		ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
	}
}

v0.berlin-gtfs-rt.transport.rest {
	encode zstd gzip
	route /feed {
		rate_limit {remote.ip} 300r/m
		uri strip_prefix /feed
		reverse_proxy {
			to localhost:3000
		}
	}
	root * /var/www/v0.berlin-gtfs-rt.transport.rest/docs
	file_server
}

v0.hamburg-gtfs-rt.transport.rest {
	encode zstd gzip
	route /feed {
		rate_limit {remote.ip} 300r/m
		uri strip_prefix /feed
		reverse_proxy {
			to localhost:3001
		}
	}
	root * /var/www/v0.hamburg-gtfs-rt.transport.rest/docs
	file_server
}
