[Unit]
Description=NATS Streaming server
After=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/local/bin/nats-streaming-server -m 8222 --store FILE --dir /nats-data --file_auto_sync 5m --max_bytes 1g --max_inactivity 48h

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target