[Unit]
Description=Prometheus NATS (Streaming) Exporter
After=network.target
Requires=nats-streaming-server.service

[Service]
ExecStart=prometheus-nats-exporter -channelz -serverz -p 9110 'http://localhost:8222'

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
