[Unit]
Description=serve VBB data as GTFS-RT
After=nats-streaming-server.service

[Service]
WorkingDirectory=/var/www/v0.berlin-gtfs-rt.transport.rest
ExecStart=/var/www/v0.berlin-gtfs-rt.transport.rest/node_modules/hafas-gtfs-rt-feed/serve.js
Environment=NODE_ENV=production
Environment=PORT=3000

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
