[Unit]
Description=monitor VBB endpoint
After=redis.service nats-streaming-server.service
Wants=v0.berlin-gtfs-rt.transport.rest-match.service v0.berlin-gtfs-rt.transport.rest-serve.service

[Service]
WorkingDirectory=/var/www/v0.berlin-gtfs-rt.transport.rest
ExecStart=/var/www/v0.berlin-gtfs-rt.transport.rest/node_modules/hafas-gtfs-rt-feed/monitor.js lib/hafas.js
Environment=NODE_ENV=production
Environment=BBOX="{\"north\": 52.602, \"west\": 13.175, \"south\": 52.375, \"east\": 13.652}"
Environment=LOCAL_ADDRESS=2a01:4f8:c0c:d58c::3,2a01:4f8:c0c:d58c::4,2a01:4f8:c0c:d58c::5,2a01:4f8:c0c:d58c::6,2a01:4f8:c0c:d58c::8,2a01:4f8:c0c:d58c::9,2a01:4f8:c0c:d58c::a,2a01:4f8:c0c:d58c::b,2a01:4f8:c0c:d58c::c,2a01:4f8:c0c:d58c::d,2a01:4f8:c0c:d58c::e,2a01:4f8:c0c:d58c::f
Environment=FETCH_TRIPS_INTERVAL=120000

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
