[Unit]
Description=match VBB data
After=postgresql.service redis.service nats-streaming-server.service

[Service]
WorkingDirectory=/srv/v0.berlin-gtfs-rt.transport.rest
ExecStart=/srv/v0.berlin-gtfs-rt.transport.rest/node_modules/hafas-gtfs-rt-feed/match.js lib/hafas-info.js lib/gtfs-info.js
Environment=NODE_ENV=production
Environment=FEED_ID=berlin
Environment=PGUSER=postgres
Environment=PGPASSWORD=password
Environment=PGDATABASE=berlin
Environment=REDIS_URL=redis:///5
Environment=METRICS_SERVER_PORT=19324

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
