[Unit]
Description=match HVV data
After=postgresql.service redis.service nats-streaming-server.service

[Service]
WorkingDirectory=/var/www/v0.hamburg-gtfs-rt.transport.rest
ExecStart=/var/www/v0.hamburg-gtfs-rt.transport.rest/node_modules/hafas-gtfs-rt-feed/match.js lib/hafas-info.js lib/gtfs-info.js
Environment=NODE_ENV=production
Environment=FEED_ID=hamburg
Environment=PGUSER=postgres
Environment=PGPASSWORD=password
Environment=PGDATABASE=hamburg
Environment=REDIS_URL=redis:///1
Environment=METRICS_SERVER_PORT=19324

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
