[Unit]
Description=monitor HVV endpoint
After=redis.service nats-streaming-server.service
Wants=v0.hamburg-gtfs-rt.transport.rest-match.service v0.hamburg-gtfs-rt.transport.rest-serve.service

[Service]
WorkingDirectory=/var/www/v0.hamburg-gtfs-rt.transport.rest
ExecStart=/var/www/v0.hamburg-gtfs-rt.transport.rest/node_modules/hafas-gtfs-rt-feed/monitor.js lib/hafas.js
Environment=NODE_ENV=production
Environment=BBOX="{\"north\": 53.6744, \"west\": 9.7559, \"south\": 53.3660, \"east\": 10.2909}"
Environment=LOCAL_ADDRESS=2a01:4f8:c2c:2c95::1,2a01:4f8:c2c:2c95::2,2a01:4f8:c2c:2c95::3,2a01:4f8:c2c:2c95::4,2a01:4f8:c2c:2c95::5,2a01:4f8:c2c:2c95::6,2a01:4f8:c2c:2c95::7,2a01:4f8:c2c:2c95::8,2a01:4f8:c2c:2c95::9,2a01:4f8:c2c:2c95::a,2a01:4f8:c2c:2c95::b,2a01:4f8:c2c:2c95::c,2a01:4f8:c2c:2c95::d,2a01:4f8:c2c:2c95::e,2a01:4f8:c2c:2c95::f

StandardInput=null
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1s
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
